{% extends parent_template|default:"datatable/base_datatable.html" %}

{% block content %}

<form action="{{ stydygroup.get_update_url }}"
      method="post">
      {% csrf_token %}
    {% for field in form %}
        <div class="field">
            {{ field.errors }}
          <label class="label">{{ field.label_tag }}</label>
          <p class="control">
            {{ field }}
        </p>
        </div>
    {% endfor %}
    <p><input type="submit" value="Отправить" class="button"/></p>
</form>
{% endblock %}